body{
    font-family: 'Poppins', sans-serif;
    background-color: #212428;
    color: white;
    margin:10px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}
.menu a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
}
.menu a:hover{
    color: #ff014f;
}
#home{
    color: hsl(342, 100%, 50%);
}
#home:hover{
    color: white;
}
#buy{
    border: 0.1px solid #0c0c0c;
    padding: 12px 20px;
    border-radius: 10px;
    color:  #ff014f;
}
#buy:hover{
    background-color:  #ff014f;
    color: white;
}
.name{
    color: #ff014f;
}
h1{
    font-size: 44px;
}
h3{
    font-size: 36px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    
}
.find-me div a img{
      width: 40px;
        height: 40px;
        margin:10px;
        padding:10px;
}
.icon a img:hover{
    background-color: white;
    border-radius: 10px;
} 
.best-skill img{
    width: 40px;
    height: 40px;
    margin:10px;
    padding:10px;
}

.best-skill h3{
    margin-top:50px ;
}
.profile-image{
    width:70%;
    margin-top: 50px;
}

hr{ 
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
}
.service{
    display: flex;
}
.service div{
    padding: 10px;
    margin: 20px;
    width:400px;
    height:300px;
    border:1px solid red;
    border-radius: 10px;
    box-shadow: 10px 10px 45px gray;

}
.service div:hover{
    background-color: #ff014f;
}
.copy{
    text-align: center;
}